server:
  port: '8027'

logging:
  level:
    root: info

spring:
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
  datasource:
    url: jdbc:postgresql://localhost:5532/productSearchDb
    username: productSearchDbUser
    password: productSearchDbPassword
  flyway:
    user: "${spring.datasource.username}"
    password: "${spring.datasource.password}"
    url: "${spring.datasource.url}"
    baselineOnMigrate: true

app:
  search:
    ingestion:
      test-data-file: products.json
    facets-size: '100'
  opensearch:
    username: ${OPENSEARCH_USERNAME}
    host: localhost
    password: ${OPENSEARCH_PASSWORD}
    port: '9200'
    index-name: product-catalog-index-v1
    index-source: product-catalog-index-source.json
